<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>ManageEmployees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="navbar navbar-expand-lg navbar-light container mt-3" style="background-color: aqua">
        <div class="container-fluid">
            <div>
                <ul class="nav justify-content-end">
                    <li class="nav-item my-3 mx-3">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-secondary">Logout</button>
                        </form>

                    </li>
                    <li class="nav-item my-3 mx-3">
                        <form method="get" th:action="@{/home}">
                            <button class="btn btn-secondary" type="submit">Home</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-3" sec:authorize="isAuthenticated()">
        <div sec:authorize="hasAnyRole('ADMIN','OPERATOR')">
            <div class="text-left" sec:authorize="hasAnyRole('ADMIN')">
                <form th:action="@{/enterprises/front/add/employee/{id}(id=${enterprise.id})}" th:method="get" >
                    <button type="submit"class="btn btn-primary">Insert now</button>
                </form>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ENTERPRISE NAME</th>
                    <th scope="col">DATE</th>
                    <th scope="col">ROLE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee: ${listEmployees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.enterprise.name}"></td>
                    <td th:text="${employee.createdAt}"></td>
                    <td th:text="${employee.roles.get(0)}"></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>